.plan-container-card{
    width: 470px;
    height: 110px;
    position: relative;
    border: 3px solid black;
    display: block;
    margin: 20px;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0.2px 1px white;
    margin-top: 30px;
    color: black;
}
.paln-date{
    position: absolute;
    top: 0px;
    right: 10px;
    margin-top: 3px;

}
.plan-title{
    margin-top: -5px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.plan-plan{
    margin-top: -17px;
}
.remove-btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
